<div id="boardOuter">
  <div id="letterContainer">
    <div *ngFor="let letter of letters" class="labelLetter">{{ letter }}</div>
  </div>
  <div id="numberContainer">
    <div *ngFor="let number of numbers" class="labelNumber">{{ number }}</div>
  </div>
  <div id="boardInner">
    <!-- 32 Pieces -->
    <img *ngFor="let chessPiece of board.pieces" [attr.src]="'/assets/images/' + chessPiece.img + '.png'"
      [alt]="chessPiece.img" [style.margin-left.px]="chessPiece.position.column | findColumn"
      [style.margin-top.px]="chessPiece.position.row | findRow" (click)="pieceOnClick(chessPiece)" />
    <!-- 64 Squares of the board-->
    <div *ngFor="let i of arrayOne(8); let indexRow = index" class="row">
      <div *ngFor="let j of arrayOne(8); let indexColumn = index" class="square" [ngClass]="{
          selectedPiece:
            selectedPiece === (indexRow | getPosition: indexColumn),
          notSelectedPiece:
            selectedPiece !== (indexRow | getPosition: indexColumn),
          availableMovements:
            (indexRow
            | getPosition: indexColumn
            | availableMovements: potentialsMovements),
          potentialAttacks:
            (indexRow
            | getPosition: indexColumn
            | availableMovements: potentialAttacks)
        }" (click)="availableMovementsOnClick(indexRow, indexColumn, potentialsMovements)"></div>
    </div>
  </div>
</div>
